.main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
}
.zero-row {
    margin: 0;
    width: 100%;
    height: 60px;
    display: block;
}
.first-row {
    margin: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.second-row {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: space-between;
    width: 100%;
    height: 160px;
}
.third-row {
    display: flex;
    flex-direction: row;
    margin: 5px;
    background-color: #1a1124;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.rating {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a1124;
    margin-right: 5px;
    position: relative;
    border-radius: 5px;

    border-bottom: 2px solid #f8a231;
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(transparent),
        to(#f8a231)
    );
    background-image: -webkit-linear-gradient(transparent, #f8a231);
    background-image: -moz-linear-gradient(transparent, #f8a231),
        -moz-linear-gradient(transparent, #f8a231);
    background-image: -o-linear-gradient(transparent, #f8a231),
        -o-linear-gradient(transparent, #f8a231);
    background-image: linear-gradient(transparent, #f8a231),
        linear-gradient(transparent, #f8a231);
    -moz-background-size: 2px 100%;
    background-size: 2px 100%;
    background-position: 0 0, 100% 100%;
    background-repeat: no-repeat;
}

.RatingArea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.ratingHeader {
    position: absolute;

    top: 10px;

    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.ratingHeader-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.65em;
    float: left;
    color: #635176;
}
.ratingHeader-ranking {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.65em;
    opacity: 0.5;
    float: right;
}
.ratingHeader-rankingNumber {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.65em;
    float: right;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: -1px;
    color: #635176;
}
.AnalyticsArea {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 98%;
    margin-top: 15px;
}
.analytics {
    position: relative;
    margin-left: 5px;
    flex: 2;
    background-color: #1a1124;
    display: flex;
    flex-direction: row;

    align-items: center;
    border-radius: 5px;
    justify-content: flex-start;
}
.analyticsContainer {
    position: relative;
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.analyticsHeader {
    position: absolute;

    top: 10px;

    width: 100%;
    margin-left: 10px;
    margin-right: auto;
}
.analyticsTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.65em;
    float: left;
    color: #635176;
}

.separator {
    width: 1px;
    height: 60%;
    background-color: #635176;
    opacity: 0.2;
    margin-left: 20px;
    margin-right: 20px;
}

.solo-rating-division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.solo-rating-division > p {
    margin: 0;
}

.donut {
    height: 70%;
    max-width: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin-left: 5px;
}
.refresh {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    transition: 1s;
    cursor: pointer;
}
.refreshIcon {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    transition: 1s;
    cursor: pointer;
}
