.container{
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    position:relative;
}
.textColor{
    color:#F8A231;

}
.username{
    color: white;
    font-size: 4em;
}
.statTitle{
    color: white;
    font-size:1em;
}
.statNumber{
    color: #F8A231;
    font-size:1.5em;
}
.winratebar{
    color: #635176;
}
.item {
    flex-grow: 1;
    height: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:50%;
    background-color: #1a1124;

}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:50%;
    background-color: #100a1c;
}
img{
    align-self: center;
    max-width:50%;
}
.inline{
    display:inline;
}

.leftContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

