.zero-row {
    margin: 0;
    width: 100%;
    height: 60px;
    display: block;
}
.first-row {
    margin: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.teams-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    margin-top: 5px;
    margin-bottom: 0;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 24.3%;
    min-width: 240px;
    min-height: 37vh;
    background-color: #1a1124;
    margin: 0;
    position: relative;
    border-radius: 5px;
    border-bottom: 2px solid #635176;
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(transparent),
        to(#635176)
    );
    margin-bottom: 10px;
    background-image: -webkit-linear-gradient(transparent, #635176);
    background-image: -moz-linear-gradient(transparent, #635176),
        -moz-linear-gradient(transparent, #635176);
    background-image: -o-linear-gradient(transparent, #635176),
        -o-linear-gradient(transparent, #635176);
    background-image: linear-gradient(transparent, #635176),
        linear-gradient(transparent, #635176);
    -moz-background-size: 2px 100%;
    background-size: 2px 100%;
    background-position: 0 0, 100% 100%;
    background-repeat: no-repeat;
}
.refresh {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    transition: 1s;
    cursor: pointer;
}
.refreshIcon {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    transition: 1s;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
    padding: 0;
}

.teamHeader {
    top: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #7c5e9c;
}
